.dataTables_wrapper .dataTables_processing {
    width: 200px;
    display: inline-block;
    padding: 7px;
    left: 50%;
    margin-left: -100px;
    margin-top: 10px;
    text-align: center;
    color: #3f444a;
    border: 1px solid #e7ecf1;
    background: #eef1f5;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
